{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <header id="showcase" class="grid">
      <div class ="content-wrap">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title ng-binding"><strong>New post |</strong>
            {{ post.published_date|date:"D M Y"}}</h3>
          </div>
          <div class="panel-body">
            <form method="POST" class="post-form">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="save btn btn-default">Save</button>
            </form>
            <script>var editor = new MediumEditor('.editable');</script>
          </div>
        </div>
      </div>
    </header>

{% endblock %}
