{% extends 'base.html' %}

{% block index %}
<header id="showcase" class="grid">
  <div class ="content-wrap">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title ng-binding"><strong>Home Example |</strong>
            2018년 02월 14일 기준</h3>
        </div>
        <div class="panel-body">
            <div>
              <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
                <div class="col-md-4">
                </div>
                <div class="jumbotron">
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
{% endblock %}
