{% extends 'base.html' %}

{% block index %}
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1>Hi</h1>
  </div>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="row ng-scope">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title ng-binding"><strong>Theme example |</strong>
                  2018년 02월 14일 기준</h3>
              </div>
              <div class="panel-body">
                  <div>
                    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
                      <div class="col-md-4">
                      </div>
                      <div class="jumbotron">
                      </div>
                      <div class="col-md-8">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
